<div class="variant-metafields-section">
  {% assign selected_variant = product.selected_or_first_available_variant %}
  {% if selected_variant %}
    <h1 style="display:inline">
      {% assign metafield_value = selected_variant.metafields.car.make | metafield_tag %}
      {{ metafield_value }}
      {% assign metafield_value = selected_variant.metafields.car.model | metafield_tag %} {{ metafield_value }}
    </h1>
  {% endif %}
</div>